
/* Latest blog */
section.blog .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.blog article {
    width: 300px;
    margin: 20px;
}

section.blog article .about {
    display: flex;
    padding: 10px 0;
}

section.blog article p {
    padding: 15px 0;
}

section.blog article a {
    text-decoration: underline;
}

section.blog article .about h5 {
    padding-right: 30px;
}

section.blog article .thumbnail img {
    border-radius: 7px;
}


/* Newsletter */
section.newsletter {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section.newsletter .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 0;
}

/* Top Categories */
section.top .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.top .rounded-card{
    width: 220px;
    height: 220px;
    background-color: #F1F0FF;
    padding: 50px;
    border-radius: 50%;
}

section.top .rounded-card:hover{
    border-color: #151875;
    border-bottom: 20px;
    border-left: 20px;
    border-width: 20px;
}


section.top .chair-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

section.top .chair-showcase h3 {
    padding: 10px 0;
}

/* Header images */
.lamp {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: -150px;
}

.hero-img {
    position: relative;
}

.hero-img .ellipse {
    position: absolute;
    z-index: 0;
}

.hero-img .ellipse-1 {
    top: -20px;
    left: 50px;
}

.hero-img img {
    max-width: 85%;
}

.hero-img .couch {
    position: relative;
    z-index: 2;
}

.hero-img .discount {
    position: absolute;
    z-index: 3;
    right: 70px;
    width: 70px;
}

/* section - Discount item */
section.discount-item .discount-showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

section.discount-item .right-side {
    position: relative;
    width: 350px;
}

section.discount-item .right-side .ellipse {
    position: absolute;
    max-width: 270px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 0;
}

.main-header-text .col{
    cursor: pointer;
}

section.discount-item .right-side .chair {
    position: relative;
    z-index: 1;
}


section.discount-item .left-side {
    font-size: 14px;
}

section.discount-item .left-side button {
    margin: 20px 0;
}

section.discount-item .left-side .features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    word-wrap: break-word;
}

section.discount-item .left-side .features > div {
    padding: 5px 0;
}

/* Section - Trending */
section.trending .flex-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section.trending .card {
    padding: 10px;
}

.flex-row {
    width: 250px;
    height: 100%;
    font-size: 12px;
    text-align: left;
}

.row a {
    text-decoration: underline;
    color:#fb2e86;
}

.flex-col .thumbnail {
    background-color: #F1F0FF;
    width: 50px;
    margin-right: 20px;
}

section.trending .flex-row .flex-col {
    display: flex;
    margin: 10px;
}

/* Unique features */
section.unique-features .flex {
    display: flex;
    width: 100% !important;
}

section.unique-features .flex > * {
    margin: 20px;
}

section.unique-features .image {
    position: relative;
    width: 450px;
    max-width: 100%;
}

section.unique-features .image #ellipse {
    position: absolute;
    z-index: 0;
}

section.unique-features .image .sofa {
    position: relative;
    z-index: 1;
}

section.unique-features .feature-list {
    width: 100%;
}

section.unique-features .feature-list .list {
    padding: 5px;
    margin: 10px 0;
    /* border: 1px solid red; */
    display: flex;
}

section.unique-features .feature-list .list .bullets {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 70%;
}

section.unique-features .list .bullet-1 {
    background-color: #fb2e86;
}
section.unique-features .list .bullet-2 {
    background-color: #7e33e0;
}
section.unique-features .list .bullet-3 {
    background-color: springgreen;
}

section.unique-features .list p {
    margin-left: 10px;
    word-wrap: break-word;
}

section.unique-features form {
    display: flex;
    margin: 20px 0;
}

section.unique-features form > div {
    padding: 0 20px;
}

@media (max-width: 968px) {
    section.unique-features .flex {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    /* section.unique-features .images{
        width: 100%;
    } */
}


/* Section - featured products */
section.featured .grid-wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* Section - latest products */
section.latest .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.latest .product-nav {
    text-align: center;
}

/* Responsiveness */
@media (max-width: 1226px) {
    .lamp {
        display: none;
    }
}
@media (max-width: 968px) {
    header.hero-section .flex {
        grid-template-columns: 1fr;
        place-items: center;
        justify-content: center;
    }

    section.unique-features .flex {
        width: 70%;
    }
    /* section.discount-item .flex > *{
        background-color: red;
        width: 70%;
    } */
}






/* 
hekto furniture color theme

darkblue: #151875
pink: #fb2e86
light pink: #fff6fb
green: #08d15f
orange: #de9034
yellow: #ffc416
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin sans', 'Lato', sans-serif;
    line-height: 1.4;
}

.container {
    width: min(70em, 90%);
    margin: auto;
}

/* Defaults */
a {
    text-decoration: none;
}

a:hover {
    color: #fb2e86;
}

/* Contact Nav */
nav.contact-nav {
    background-color: #7E33E0;
    color: #fff;
}

nav.contact-nav img {
    width: 20px;
    height: 20px;
}

nav.contact-nav .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

nav.contact-nav .right-nav {
    display: flex;
}

nav.contact-nav a {
    color: #fff;
    display: flex;
    align-items: center;
}

.right-nav > div {
    padding-right: 30px;
    display: flex;
}

.right-nav div img {
    margin-right: 10px;
}

.left-nav {
    display: flex;
}

.left-nav a {
    padding-left: 20px;
}

/* Main Nav */
nav.main-nav {
    position: relative;
}

.hamburger-btn {
    cursor: pointer;
    display: none;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu .menu {
    position: absolute;
    top: 45px;
    left: 0;
    right: 0;
    height: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 4;
    transition: .3s;
}

.hamburger-menu .menu a {
    padding: 10px 0;
    color: #151875;
    font-weight: 600;
}

nav.main-nav .flex{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.main-nav .flex img {
    width: 20px;
}

.main-nav #active {
    display: flex;
    align-items: center;
}

.main-nav a {
    color: #151875;
}

.main-nav a:hover {
    color: #fb2e86;
}

.main-nav .nav-items {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.main-nav .nav-items > *{
    padding: 0 10px;
}

header.hero {
    padding: 70px 0;
}

header h2 {
    font-size: 14px;
}

header h1 {
    padding-top: 10px;
}

header p {
    padding: 20px 0;
}

/* Section - shopex */
section.shopex .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Sponsors */
section.sponsors .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

section.sponsors .flex img {
    width: 70%;
}

/* footer */
footer .flex {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;  
}

footer .flex div {
    display: flex;
    flex-direction: column;
    margin: 40px;
}

footer .flex div a {
    padding: 7px 0;
}

footer .flex div h3 {
    padding-bottom: 20px;
}

footer .hekto p {
    padding: 5px 0;
}

footer .hekto form input{
    width: 100%;
}


footer a {
    color: #00000079;
}

footer form {
    display: flex;
}

footer form button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 10px;
}

footer form input {
    border: 0;
    padding: 12px;
}

.footer img {
    width: 20px;
    height: 20px;
}

.footer {
    background-color: #3333331f;
    color: #00000092;
    padding: 10px 0;
    font-size: 12px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Responsiveness */
@media (max-width: 1226px) {
    .lamp {
        display: none;
    }
}
@media (max-width: 968px) {
    nav.contact-nav {
        display: none;
    }

    nav.main-nav .nav-items, 
    nav.main-nav form {
        display: none;
    }

    .hamburger-btn {
        display: block;
    }
    .hamburger-menu {
        display: block;
    }
}