
    <!-- Main Nav -->
    <nav class="main-nav">
        <div class="container">
            <div class="flex">
                <div class="logo"><h1>Hekto</h1></div>
                <div class="nav-items">
                    <a [routerLink]="['/']"  id="active">Home <img src="img/akar-icons_chevron-down.svg"></a>
                    <a href="#">Pages</a>
                    <a [routerLink]="['/shoping-card']">Products</a>
                    <a [routerLink]="['/blog']" id="active">Blog</a>
                    <a [routerLink]="['/shoping-card']">Shop</a>
                    <a href="./contact us.html">Contact</a>
                </div>
                <form class="search-input">
                    <input type="text">
                    <button><img src="img/uil_search.png" alt=""></button>
                </form>


                <!-- Hamburger menu -->
                <div class="hamburger-menu">
                    <div class="hamburger-btn"><i class="fas fa-bars fa-2x"></i></div>
                    <div class="menu">
                        <a [routerLink]="['/']">Home</a>
                        <a href="#">Pages</a>
                        <a [routerLink]="['/shoping-card']">Products</a>
                        <a [routerLink]="['/blog']" id="active">Blog</a>
                        <a [routerLink]="['/shoping-card']">Shop</a>
                        <a href="./contact us.html">Contact</a>
                        <a href="./my account.html">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- Header/Hero Section -->
    <header class="hero main-bg">
        <div class="container">
            <div class="flex">
                <div class="hero-text">
                    <h1 class="blue-text">Blog Page</h1>
                    <h2>Home . Pages <span class="pink-text">. Blog Page</span></h2>
                </div>
            </div>
        </div>
    </header>

    <!-- Blog post page -->
    <section class="blog-post-page">
        <div class="container">
            <div class="article-container">
                <article>
                    <a href="./single blog.html">
                        <div class="article">
                            <img src="img/blog page/bruce-mars-FWVMhUa_wbY-unsplash 2.png" alt="" class="article-image">
                            <div class="author--date">
                                <div class="author">
                                    <img src="img/blog page/Vector.svg" alt="" class="icon">
                                    <div class="pink-box">Surf Auxion</div>
                                </div>
                                <div class="date">
                                    <img src="img/blog page/Vector2.svg" alt="" class="icon">
                                    <div class="pink-box">Aug 09 2020</div>
                                </div>
                            </div>
                            <div class="article-writeup">
                                <h2 class="blue-text">Mauris at orci non vulputate diam tincidunt nec.</h2>
                                <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda minus distinctio vitae quasi aliquam id nostrum fuga et obcaecati delectus, neque ducimus doloremque laudantium laborum possimus soluta quam fugit. Alias?</p>
                                <a href="#" class="blue-text">Read More</a>
                            </div>
                        </div>
                    </a>
                    <div class="article">
                        <img src="img/blog page/bruce-mars-FWVMhUa_wbY-unsplash 3.png" alt="" class="article-image">
                        <div class="author--date">
                            <div class="author">
                                <img src="img/blog page/Vector.svg" alt="" class="icon">
                                <div class="pink-box">Surf Auxion</div>
                            </div>
                            <div class="date">
                                <img src="img/blog page/Vector2.svg" alt="" class="icon">
                                <div class="pink-box">Aug 09 2020</div>
                            </div>
                        </div>
                        <div class="article-writeup">
                            <h2 class="blue-text">Mauris at orci non vulputate diam tincidunt nec.</h2>
                            <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda minus distinctio vitae quasi aliquam id nostrum fuga et obcaecati delectus, neque ducimus doloremque laudantium laborum possimus soluta quam fugit. Alias?</p>
                            <a href="#" class="blue-text">Read More</a>
                        </div>
                    </div>
                    <div class="article">
                        <img src="img/blog page/bruce-mars-FWVMhUa_wbY-unsplash 4.png" alt="" class="article-image">
                        <div class="author--date">
                            <div class="author">
                                <img src="img/blog page/Vector.svg" alt="" class="icon">
                                <div class="pink-box">Surf Auxion</div>
                            </div>
                            <div class="date">
                                <img src="img/blog page/Vector2.svg" alt="" class="icon">
                                <div class="pink-box">Aug 09 2020</div>
                            </div>
                        </div>
                        <div class="article-writeup">
                            <h2 class="blue-text">Mauris at orci non vulputate diam tincidunt nec.</h2>
                            <p class="grey-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda minus distinctio vitae quasi aliquam id nostrum fuga et obcaecati delectus, neque ducimus doloremque laudantium laborum possimus soluta quam fugit. Alias?</p>
                            <a href="#" class="blue-text">Read More</a>
                        </div>
                    </div>
                </article>

                <aside class="sidebar">
                    <div class="search-bar">
                        <h3 class="blue-text">Search</h3>
                        <input type="text" placeholder="search For Posts">
                    </div>
                    <div class="categories">
                        <h3 class="blue-text">Categories</h3>
                        <div class="category-option">
                            <div class="options active-option">Hobbies (14)</div>
                            <div class="options blue-text">Women (21)</div>
                            <div class="options blue-text">Women (21)</div>
                            <div class="options blue-text">Women (21)</div>
                            <div class="options blue-text">Women (21)</div>
                            <div class="options blue-text">Women (21)</div>
                        </div>
                    </div>
                    <div class="recent-post">
                        <h3 class="blue-text">Recent Post</h3>
                        <div class="post">
                            <img src="img/blog page/Rectangle 126.png" alt="">
                            <div>
                                <h4 class="blue-text">It is a long established fact</h4>
                                <p class="grey-text">Aug 09 2020</p>
                            </div>
                        </div>
                        <div class="post">
                            <img src="img/blog page/Rectangle 126-1.png" alt="">
                            <div>
                                <h4 class="blue-text">It is a long established fact</h4>
                                <p class="grey-text">Aug 09 2020</p>
                            </div>
                        </div>
                        <div class="post">
                            <img src="img/blog page/Rectangle 126-2.png" alt="">
                            <div>
                                <h4 class="blue-text">It is a long established fact</h4>
                                <p class="grey-text">Aug 09 2020</p>
                            </div>
                        </div>
                        <div class="post">
                            <img src="img/blog page/Rectangle 126-3.png" alt="">
                            <div>
                                <h4 class="blue-text">It is a long established fact</h4>
                                <p class="grey-text">Aug 09 2020</p>
                            </div>
                        </div>
                    </div>

                    <!-- Sale product -->
                    <div class="sale-product recent-post">
                        <h3 class="blue-text">Sale Product</h3>
                        <div class="post">
                            <img src="img/blog page/Rectangle 1260.png" alt="">
                            <div>
                                <h4 class="blue-text">It is a long established fact</h4>
                                <p class="grey-text">Aug 09 2020</p>
                            </div>
                        </div>
                        <div class="post">
                            <img src="img/blog page/Rectangle 12611.png" alt="">
                            <div>
                                <h4 class="blue-text">It is a long established fact</h4>
                                <p class="grey-text">Aug 09 2020</p>
                            </div>
                        </div>
                        <div class="post">
                            <img src="img/blog page/Rectangle 12622.png" alt="">
                            <div>
                                <h4 class="blue-text">It is a long established fact</h4>
                                <p class="grey-text">Aug 09 2020</p>
                            </div>
                        </div>
                    </div>

                    <div class="offer-product">
                        <h3 class="blue-text">Offer product</h3>
                        <div class="products">
                            <div>
                                <img src="img/blog page/p0OlRAAYXLY.png" alt="">
                                <h4 class="blue-text">Duis lectus est.</h4>
                                <p class="grey-text">$12.00</p>
                            </div>
                            <div>
                                <img src="img/blog page/a.png" alt="">
                                <h4 class="blue-text">Duis lectus est.</h4>
                                <p class="grey-text">$12.00</p>
                            </div>
                            <div>
                                <img src="img/blog page/ng.png" alt="">
                                <h4 class="blue-text">Duis lectus est.</h4>
                                <p class="grey-text">$12.00</p>
                            </div>
                            <div>
                                <img src="img/blog page/nh.png" alt="">
                                <h4 class="blue-text">Duis lectus est.</h4>
                                <p class="grey-text">$12.00</p>
                            </div>
                        </div>
                    </div>

                    <div class="follow">
                        <h3 class="blue-text">Follow</h3>
                        <div class="social-links">
                            <img src="img/blog page/facebook.svg" alt="">
                            <img src="img/blog page/instagram.svg" alt="">
                            <img src="img/blog page/twitter.svg" alt="">
                        </div>
                    </div>

                    <div class="tags">
                        <h3 class="blue-text">Tags</h3>
                        <div class="link-tags">
                            <a href="#" class="blue-text underline">General</a>
                            <a href="#" class="pink-text underline">Atsanil</a>
                            <a href="#" class="blue-text underline">Insas</a>
                            <a href="#" class="blue-text underline">Bibsaas</a>
                            <a href="#" class="blue-text underline">Nulla</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
